.container{
  margin: 0 auto;
  max-width: 100%;
}
.gridprodutos{
  display: grid;
  gap: 15px;
  background-color: rgb(66, 66, 66);
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  justify-content: center;
  justify-items: center;
  align-items: center; 
}
.caixa1{
  height: 150px;
  background-color: rgb(159, 29, 29) ;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.caixa2{
  height: 150px;
  background-color: rgb(159, 29, 29) ;
  display: flex;
  align-items: center;
}
.produtos{
  height: 180px;
  width: 140px;
}

.griditen {
  width: 300px;
  height: 180px;
}

.red {
  background-color: rgb(159, 29, 29);
}